.strechtedHorizontalSwiper {
  :global(.swiper-wrapper) {
    align-items: stretch;
  }


  :global(.swiper-slide) {
    height: auto;
  }


  :global(.swiper-pagination-bullet-active) {
    background: oklch(0.527 0.154 150.069) !important;
    width: 48px !important;
  }


  :global(.swiper-pagination-bullet) {
    height: 2.6px;
    background: oklch(0.527 0.154 150.069) !important;
    width: 24px;
    border-radius: 0;
  }
}
